html{
    scroll-behavior: smooth;
}
body{
    background-color: #111212;
    font-family: 'Metropolis Extra';
    font-weight: 200;
    font-style: normal;
    padding-top: 95px;
}

a{
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 0px 150px;
}

@media (min-width: 0px) and (max-width: 1400px) {
    .container-fluid{
        padding: 0px 50px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .container-fluid{
        padding: 0px 30px;
    }
}