header {
    background-color: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .logo {
        display: inline-block;
        margin-top: 21px;
    }
    .nav-align {
        text-align: right;
    }
    .hamburger-menu {
        width: 27px;
        height: 27px;
        background-color: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(126, 126, 126, 0.1);
        text-align: center;
        font-size: 14px;
        padding-top: 3px;
        color: #565656;
        position: relative;
        top: 2px;
        margin-right: 10px;
        display: none;
    }
    nav {
        display: inline-block;
        ul {
            display: inline-block;
            &.prelogin {
                padding: 10px 0px;
                li {
                    display: inline-block;
                    margin: 0px 14px;
                    a {
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $ss-darkgray;
                        &.btn {
                            padding: 16px 18px;
                            border-radius: 100px;
                            border: none;
                        }
                        &.btn-primary {
                            color: $white;
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            &.postlogin {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    a {
                        display: inline-block;
                        color: $ss-darkgray;
                        font-size: 12px;
                        vertical-align: middle;
                        margin: 0px 8px;
                        transition: all 0.5s ease;
                        padding: 25px 0px;
                        &:hover {
                            text-decoration: none;
                        }
                        &.icon-link {
                            width: 27px;
                            height: 27px;
                            background-color: $white;
                            border-radius: 50%;
                            box-shadow: 0px 0px 10px rgba(126, 126, 126, 0.1);
                            text-align: center;
                            font-size: 16px;
                            padding-top: 3px;
                        }
                        &.user-icon {
                            margin-left: 30px;
                            padding: 15px 0px;
                            img {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .text {
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 10px;
                            }
                        }
                    }
                    &.booking-link {
                        a {
                            &.booking-btn {
                                background: linear-gradient(180deg, rgba(63, 199, 6, 0.7) 0%, #3CA208 100%);
                                border-radius: 2px;
                                padding: 11px 23px;
                                color: $white;
                                font-weight: 700;
                                margin-right: 40px;
                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                    }
                    &.user-dropdown {
                        ul {
                            width: 150px;
                            border-radius: 6px;
                            background-color: #FFFFFF;
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                            position: absolute;
                            top: 68px;
                            right: 11px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.5s ease;
                            li {
                                display: block;
                                a {
                                    display: block;
                                    font-size: 12px;
                                    color: #737373;
                                    padding: 10px 15px;
                                    border-bottom: 1px solid #DCDCDC;
                                    margin: 0;
                                }
                                &:last-child {
                                    a {
                                        border-bottom: unset;
                                    }
                                }
                            }
                        }
                        &:hover {
                            ul {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    &.megamenu-link {
                        position: static;
                        padding: 20px 0px;
                        &:hover {
                            >a {
                                background-color: #39771D;
                                .icon {
                                    color: $white;
                                }
                            }
                            .mega-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 1360px) {
    header {
        nav {
            ul {
                &.postlogin {
                    li {
                        a {
                            margin: 0px 3px;
                        }
                        &.booking-link {
                            a {
                                &.booking-btn {
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 1200px) {
    header nav ul.postlogin li a.user-icon .text {
        display: none;
    }
    header nav ul.postlogin li a.user-icon {
        margin-left: 10px;
    }
    header nav ul.postlogin li.booking-link a.booking-btn {
        padding: 11px;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    header nav.menu-links {
        display: none;
    }
    header .hamburger-menu {
        display: inline-block;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    header .nav-align,
    header .logo-align {
        text-align: center;
    }
    .row {
        &.prelogin-grid {
            .col-sm-4 {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
            .col-sm-8 {
                flex: 0 0 66.6666666667%;
                max-width: 66.6666666667%;
            }
            .logo {
                margin-top: 12px;
                img {
                    width: 100%;
                }
            }
            nav {
                ul {
                    &.prelogin {
                        li {
                            margin: 0px 5px;
                            a {
                                font-size: 10px;
                                &.btn {
                                    padding: 5px 18px;
                                    font-size: 10px;
                                }
                                .icon {
                                    font-size: 8px;
                                    margin-right: 5px;
                                }
                                &.user-icon {
                                    width: 25px;
                                    height: 25px;
                                    img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    header {
        .nav-align {
            padding: 10px 0px;
        }
        nav {
            ul {
                a {
                    &.icon-link {
                        font-size: 14px;
                        width: 25px;
                        height: 25px;
                    }
                }
                &.postlogin {
                    li {
                        &.user-dropdown {
                            a {
                                &.user-icon {
                                    width: 25px;
                                    height: 25px;
                                    padding: 0;
                                    img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                            ul {
                                top: 27px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
