/*------------------*
# Modals
*------------------*/

.modal {
    &-title {
        font-weight: 400;
        color: #3A494E;
        font-size: 20px;
        line-height: 27px;
    }

    &-close {
        font-size: 18px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        margin-left: auto;
        color: #A1A2A3;

        &:focus-visible {
            outline: 0px;
        }
    }

    &-lfnLg {
        left: unset;
        right: -100%;

        .modal-dialog {
            margin: 0px;
            position: absolute;
            width: 90%;
            max-width: 90%;
            display: flex;
            justify-content: stretch;
            min-height: 100%;
            top: -1px;
            right: 0;

            &.modal-xl {
                @include media-breakpoint-up(xl) {
                    max-width: 900px;
                }
            }

            @media all and (max-width: 768px) {
                width: 100%;
                max-width: 100%;
            }
        }

        &.fade {
            right: -100%;
            transition: 0.4s ease-out;

            .modal-dialog {
                right: 0;
                transition: position 0.4s, opacity 0s 0.4s;
                transform: translate(0, 0);
            }

            &.show {
                right: 0;
                transition: 0.5s ease-in;
            }
        }

        .modal {
            &-content {
                border-radius: 0px;
            }

            &-header,
            &-body {
                padding: 16px 20px;

                @include media-breakpoint-down(md) {
                    padding: 12px 20px;
                }
            }
        }

        &.modal-lfnAptSettings {
            .modal {
                &-dialog {
                    &.modal-xl {
                        @include media-breakpoint-up(xl) {
                            max-width: 1130px;
                        }
                    }
                }
            }
        }
    }

    &-rcXl {
        left: unset;
        right: -100%;

        .modal-dialog {
            margin: 0px;
            position: absolute;
            width: 90%;
            max-width: 100% !important;
            display: flex;
            justify-content: stretch;
            min-height: 100%;
            top: -1px;
            right: 0;

            &.modal-xl {
                @include media-breakpoint-up(xl) {
                    max-width: 900px;
                }
            }

            @media all and (max-width: 768px) {
                width: 100%;
                max-width: 100%;
            }
        }

        &.fade {
            right: -100%;
            transition: 0.4s ease-out;

            .modal-dialog {
                right: 0;
                transition: position 0.4s, opacity 0s 0.4s;
                transform: translate(0, 0);
            }

            &.show {
                right: 0;
                transition: 0.5s ease-in;
            }
        }

        .modal {
            &-content {
                border-radius: 0px;
            }

            &-header,
            &-body {
                padding: 16px 20px;

                @include media-breakpoint-down(md) {
                    padding: 12px 20px;
                }
            }
        }

        &.modal-lfnAptSettings {
            .modal {
                &-dialog {
                    &.modal-xl {
                        @include media-breakpoint-up(xl) {
                            max-width: 1130px;
                        }
                    }
                }
            }
        }
    }

    &-backdrop {
        left: unset;
        right: 0;
    }

    &-lightbox {
        background-color: rgba(0, 0, 0, 0.7);

        .modal {
            &-content {
                background-color: transparent;
                border: 0px solid;
            }

            &-header {
                border-bottom: 0px solid transparent;

                .modal-title {
                    color: white;
                }

                .modal-close {
                    color: white;

                    &:hover {
                        color: #f1f1f1;
                    }
                }
            }
        }
    }

    &.popupGuide {
        .modal-content {
            border: 0px;
            background-color: transparent;
        }

        @include media-breakpoint-up(xl) {
            .modal-xl {
                max-width: 1015px;
            }
        }
    }

    &.testScheduleGuide {
        .modal-content {
            border: 0px;
        }

        @include media-breakpoint-up(xl) {
            .modal-xl {
                max-width: 1140px;
            }
        }

        @include media-breakpoint-up(xxl) {
            .modal-xl {
                max-width: 1340px;
            }
        }
    }

    &-full {
        .modal-xl {
            max-width: 100%;

            @include media-breakpoint-up(lg) {
                margin: 20px;
            }
        }
    }
}

.confirmation-backdrop {
    z-index: z("confrm-bcdrop") !important;
}

.modal-body {
    label {
        font-size: 12px;
    }

    .form-control {
        &:focus {
            box-shadow: none;
        }
    }

    .section {
        border: 1px solid #dee2e6;
        padding: 20px;
        margin: 20px 0px;

        h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .highlighted-section {
        background-color: #D1EDFF;
        padding: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #0C75BC;
        margin: 20px 0px;
        border-radius: 5px;
    }
}