$blue:#0376F9;
$green: #0FC500;
$dark: #3A494E;
$lightgray:#F8F8F8;
$textgray:#8C8686;
$bottom-bg:#101010;
$footer-bg:#060606;
$footer-border:#454141;
$form-bg:rgba(33,34,36,0.9);
$border-radius:15px;
$inlineblock:inline-block;
$btn-border-radius:50px;