@import "variables";

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 76px;

}

.container-fluid {
    padding: 0;
}
.padding-bot {
    padding: 0px 100px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

$green: #0FC500;

.black-gray-color {
    color: #181717 !important;
}

.section-title {
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #181717;
    padding-left: 50px;
    text-transform: uppercase;
    @include relative;
    margin-bottom: 50px;

    span {
        font-weight: 700;
        @include block;
    }

    &:before {
        @include psudoelem;
        background-color: $green;
        width: 5px;
        height: 80%;
        top: 13px;
        left: 0;
    }

    &.no-line {
        padding-left: 0;

        &:before {
            display: none;
        }
    }
}

.btn {
    padding: 13px 27px;
    color: $white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;

    &.btn-primary {
        background-color: $green;
        color: $white;
    }
}

.gray-section,
.white-section,
.ride-reimagined2 {
    padding: 150px 0px;
}

.gray-section {
    background-color: #E9E9E9;
}

.rounded-corner {
    &.rcnr-20 {
        border-radius: 20px;
    }

    &.rcnr-40 {
        border-radius: 40px;
    }
}

.head-text {
    font-size: 48px;
    line-height: 58px;
}

.text-three {
    font-size: 36px;
    line-height: 0 !important;

    img {
        width: 36px;
    }
}

.slick-dots {
    position: absolute;
    display: flex;

    li {
        margin: 0 5px;

        button {
            padding: 0;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
    }
}

.content {
    .btn-primary {
        background-color: $blue-dot;
    }
}

.mt-min {
    margin-top: -15px;
}

.common-padding {
    padding: 150px 0;
}

.top-padding {
    padding-top: 150px;
}

.bottom-padding {
    padding-bottom: 150px;
}

.photo-gallery-sec {
    background-color: $white-gray;
}

.photo-gallery-sec {
    .slide-item {
        margin: 20px;

    }

    .slick-current {
        img {
            width: 350px !important;
            margin: 0 50px;
        }
    }

    p {
        color: #000000;
    }
}

.valign-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


p {
    font-size: 24px;
    line-height: 30px;
    &.bold {
        font-weight: 700;
    }
}

h2{
    &.title-mb{
        margin-bottom: 15px;
    }
}

@media (min-width: 0px) and (max-width: 1280px) {
    h2 {
        font-size: 50px !important;
        line-height: 54px !important;
    }

    p {
        font-size: 24px ;
        line-height: 30px ;
    }
}

@media (min-width: 0px) and (max-width: 991px) {
    .container-fluid {
        padding: 0px 30px;
    }

    h2 {
        font-size: 40px !important;
        line-height: 39px !important;
    }

    p {
        font-size: 14px !important;
        line-height: 18px !important;
    }
        .bottom-padding {
            padding-bottom: 100px;
        }
}

@media (min-width: 0px) and (max-width: 768px) {
    h2 {
        font-size: 30px !important;
        line-height: 30px !important;
    }

    p {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .section-title {
        margin-bottom: 35px;
        padding-left: 15px;
    }

    .section-title::before {
        height: 85%;
        top: 5px;
        width: 2px;
      }

    .gray-section,
    .white-section,
    .ride-reimagined2 {
        padding: 80px 0px;
    }
    .bottom-padding {
        padding-bottom: 80px;
    }
}



@media (min-width: 0px) and (max-width: 576px) {
    h2{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    p{
        font-size: 12px;
        
    }
    .container-fluid {
        padding: 0px 20px;
    }
        .bottom-padding {
            padding-bottom: 80px;
        }
        .gray-section,
        .white-section,
        .ride-reimagined2 {
            padding: 80px 0px ;
        }
}