/*contactus section*/

.contactus {
    p {
        font-weight: 400;
        color: #191918;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 25px;
        font-weight: 700;
        color: #191918;
        margin-bottom: 10px;
        text-align: center;
    }
    .contactus-form {
        width: 500px;
        margin: 0 auto;
        h2 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 30px;
            letter-spacing: 5px;
        }
        .form-group {
            position: relative;
            margin-bottom: 40px;
            label {
                color: $dark;
                font-size: 14px;
                font-weight: 500;
                position: absolute;
                transition: all 0.5s ease;
                z-index: 5;
                top: 0;
            }
            .form-control {
                border-radius: unset;
                box-shadow: unset;
                border: unset;
                background-color: transparent;
                border-bottom: 1px solid $dark;
                position: relative;
                z-index: 10;
                color: $dark;
                font-style: 400;
                font-size: 14px;
                padding: 0px;
            }
            textarea {
                &.form-control {
                    height: 100px;
                    resize: vertical;
                }
            }
            &.focus {
                label {
                    top: -27px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 991px) {
    .contactus .contactus-form {
        width: 100%;
    }
    .contactus p {
        letter-spacing: 1px;
    }
    .contactus-form h3 {
        letter-spacing: 4px;
    }
}