$ss-darkgray: #565656;
$ss-lightskyblue: #F8F9FD;
$ss-blue:#347AF3;
$light-gray:#D5D6D7;
$light-blue :#347AF3;
$analytics-blue:#0C75BC; 
$analytics-green : #0CBC88;
$analytics-bottle-green: #99A746;
$analytics-light-green: #E1FCF4;


$ss-dark:#565656;
$white: #FFFFFF;
$ss-lightgray: #D5D6D7;
$ss-lightestgray:#D5D6D7;
$ss-white: white;
$ss-black : black;
$ss-red : red;
$ss-green: green;
$ss-orange: orange;
$ss-validation-red: #FF1B1B;
