footer{
    background-color: $gray;
    padding-top: 80px;
    .branding{
        max-width: 100%;
    }
    p{
        @include processText(false, 12px, 400, #C2C2C2, 30px 0px, false, false, false, false, false);
    }

    .list-items{
        li{
            margin-bottom: 20px;
        }
    }

    .hotline {
        padding: 0px 0px 0px 46px;
        position: relative;
        .icon {
            display: inline-block;
            width: 36px;
            height: 36px;
            background-color: $red;
            text-align: center;
            position: absolute;
            left: 0px;
            top: 3px;

            .icon-call {
                display: inline-block;
                font-size: 25px;
                color: $red;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                color:#fff;
            }
        }

        p {
            @include processText(false, 12px, 400, #fff, 0, false, false, false, false, false);

            span {
                @include processText(block, 16px, 700, false, false, false, false, false, false, false);
            }
        }
    }

    h3{
        @include processText(false, 20px, 600, #fff, 0px 0px 25px 0px, 0px 0px 10px 0px, false, capitalize, false, false);
        border-bottom: 2px solid $red;
    }
    .list-items {
        li {
            position: relative;
            padding-left: 30px;
            a{
                @include processText(inline-block, 16px, 400, #C2C2C2, 0px, 0px, false, capitalize, relative, false);
            }
    
            &:before {
                font-family: 'icomoon';
                content: "\e908";
                color: $red;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .contact-details{
        li{
            padding-left: 39px;
            position: relative;
            margin-bottom: 25px;
            .icon{
                display: inline-block;
                font-size: 25px;
                color:$red;
                position: absolute;
                left: 0;
                top: 0;
            }
            h5{
                @include processText(false, 14px, 600, #fff, false, false, false, false, false, false);
            }
            p{
                @include processText(false, 14px, 400, #fff, 0px, false, false, false, false, false);
            }
        }
    }

    .copyright{
        border-top: 1px solid #808080; 
        padding: 15px 0px;
        text-align: center;
        margin-top: 50px;
        p{
            @include processText(false, 16px, 400, #808080, 0px, false, false, false, false, false);
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    footer {
        .hotline{
            margin-bottom: 30px;
        }

        .list-items{
            margin-bottom: 30px;
            li{
                padding-left: 20px;
                a{
                    font-size: 12px;
                }
            }
        }

        .contact-details {
            li{
                h5{
                    font-size: 12px;
                }
                p{
                    font-size: 12px; 
                }
                .icon{
                    top: 3px;
                }
            }
        }

        .copyright {
            p{
                font-size: 12px;
            }
        }
    }
}