header {
    background-color: #1F1D1D;
    padding: 15px;
    @include fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;

    .branding {
        @include inlineblock;
        margin-top: 7px;

        img {
            width: 100%;
        }
    }

    .navbar {
        @include block;
        margin: 0px;
        text-align: right;

        li {
            @include inlineblock;
            padding: 0px 35px;

            a {
                @include inlineblock;
                padding: 5px 0px;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                position: relative;

                &:after {
                    @include psudoelem;
                    width: 0%;
                    height: 2px;
                    border-radius: 10px;
                    background: #0FC500;
                    bottom: 0;
                    left: 0;
                    transform: translateX(0);
                    @include transition;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }

                &.hamburger-menu {
                    width: 20px;
                    height: 20px;

                    .bar {
                        @include inlineblock;
                        width: 100%;
                        height: 2px;
                        border-radius: 10px;
                        background-color: $green;
                        vertical-align: middle;
                        @include relative;
                        transition: all 0.5s ease;

                        &:before {
                            @include psudoelem;
                            width: 100%;
                            height: 2px;
                            border-radius: 10px;
                            background-color: #A4A3A3;
                            top: -5px;
                            left: 0;
                        }

                        &:after {
                            @include psudoelem;
                            width: 100%;
                            height: 2px;
                            border-radius: 10px;
                            background-color: #3479F2;
                            bottom: -5px;
                            left: 0;
                        }
                    }

                    &:hover {
                        &::after {
                            display: none;
                        }

                        .bar {
                            transform: scale(1.3, 1.3);
                        }
                    }
                }
            }

            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

.fullpage-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .close-menu {
        font-size: 30px;
        font-weight: 700;
        color: $white;
        position: absolute;
        top: 50px;
        right: 10%;
    }

    .nav-list {
        position: absolute;
        top: 50%;
        left: 32%;
        transform: translate(-50%, -50%);

        li {
            margin-bottom: 20px;

            a {
                font-weight: 400;
                font-size: 24px;
                line-height: 0;
                text-transform: uppercase;
                color: #585858;
                transition: all 0.5s ease;

                .number {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: #585858;
                    display: inline-block;
                    margin-right: 15px;
                }

                .icon-long-arrow::before {
                    font-size: 48px;
                    line-height: 43px;
                    vertical-align: bottom;
                    display: inline-block;
                    margin-left: 25px;
                    color: #0376F9;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s ease;
                }

                &.active {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 42px;
                    color: #FFFFFF;

                    .icon-long-arrow::before {
                        opacity: 1;
                        visibility: visible;
                        color: #0376F9;
                    }
                }

                &:hover {
                    font-size: 40px;
                    font-weight: 700;
                    color: #FFFFFF;
                    .icon-long-arrow::before {
                        opacity: 1;
                        visibility: visible;
                        
                    }
                }
            }
        }

        ul{
            &.bottom-item{
                li{
                   a{
                    font-size: 18px;
                    color: #fff;
                        text-transform: capitalize;
                        margin-right: 0;
                    span {
                            &.pipe-icon {
                                font-size: 20px;
                                font-weight: 700;
                                color: #282828;
                                margin-right: 0;
                            }
                        }
                        &:hover{
                            font-weight: 400;
                        }
                   }
                   
            }
            &.bottom-link-mar{
                margin-top: 65px;
            }
        }
    }
}
}



@media (min-width: 0px) and (max-width: 991px) {
    header {
        .navbar {
            li {
                padding: 0px 25px;
            }
        }
    }

    .fullpage-menu .nav-list {
        left: 24%;
        width: 100%;
        transform: unset;
        top: 10%;
    }

    .fullpage-menu .close-menu {
        font-size: 28px;
        top: 35px;
        right: 35px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .fullpage-menu .nav-list li a.active {
        font-size: 30px;
    }
    .fullpage-menu .nav-list {
        left: 35px;
        width: 100%;
        transform: unset;
        top: 25px;
    }
    .fullpage-menu .nav-list li a {
        font-size: 14px;
        line-height: 24px;
        &.active{
            font-size: 20px;
        }
    }
    .fullpage-menu .nav-list li {
        margin-bottom: -7px;
    }

    .fullpage-menu .nav-list li a .icon-long-arrow {
        vertical-align: middle;
        font-size: 16px;
    }
    .fullpage-menu .close-menu {
        font-size: 20px;
        top: 25px;
        right: 35px;
    }
    .fullpage-menu .nav-list li a .icon-long-arrow::before {
        font-size: 26px;
        margin-left: 10px;
    }
    .fullpage-menu {
        .nav-list {

            ul {

                &.bottom-item {
                    li {
                        margin-bottom: 5px;

                        span {
                            font-size: 12px;
                            color: #fff;
                            text-transform: capitalize;

                            &.pipe-icon {
                                font-size: 20px;
                                font-weight: 700;
                                color: #282828;
                            }
                        }
                    }
                }

                &.bottom-link-mar {
                    margin-top: 50px
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 576px) {
    header {
        .navbar {
            li {
                padding: 0px 10px;

                a {
                    font-size: 14px;
                }
            }
        }

        .branding {
            display: inline-block;
            margin-top: 11px;
        }

        .col-sm-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-sm-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
    }
    .fullpage-menu .nav-list li a.active {
        font-size: 20px;
        line-height: 20px;
    }

    .fullpage-menu .nav-list {
        left: 35px;
        width: 100%;
        transform: unset;
        top: 25px;
    }

    .fullpage-menu .nav-list li a {
        font-size: 14px;

        &.active {
            font-size: 18px;
            line-height: 22px;
        }
        &:hover{
            font-size: 18px;
        }
    }

    .fullpage-menu .nav-list li {
        margin-bottom: 5px;
    }

    .fullpage-menu .close-menu {
        font-size: 16px;
        top: 25px;
        right: 35px;
    }

    .fullpage-menu .nav-list li a .icon-long-arrow::before {
        font-size: 22px;
        line-height: 28px;
        margin-left: 10px;
    }

    .fullpage-menu{
        .nav-list{
            margin-top: 50px;
            ul {
                
                    &.bottom-item {
                        li {
                            margin-bottom: 5px;
            
                           a{
                                span {
                                    font-size: 12px;
                                    color: #fff;
                                    text-transform: capitalize;
                            
                                    &.pipe-icon {
                                        font-size: 20px;
                                        font-weight: 700;
                                        color: #282828;
                                    }
                                }
                           }
                        }
                    }
            
                    &.bottom-link-mar {
                        margin-top: 50px
                    }
                }
        }
    }
}