.peach-canvas {
    padding: 150px 0;
}

 .safety-essentials{
    h2{
        padding-left: 0;
        &::before{
            display: none;
        }
    }
 }

.data-security {
    .left-content {
        padding-right: 100px;

        .arrow-icon {
            margin-top: 20px;

            .icon-long-arrow {
                font-size: 40px;
                color: #0376F9
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .peach-canvas {
        h2{
            margin-bottom: 0 !important;
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .peach-canvas {
        padding: 80px 0;
        h2{
            margin-bottom: 0 !important;
        }
    }
    .safety-essentials{
        .flip-box{
            height: 150px;
            .flip-box-front, .flip-box-back{
                height: 150px;
            }
        }
    }

        .data-security {
            .left-content {
                padding-right: 100px;
    
                .arrow-icon {
                    margin-top: 20px;
    
                    .icon-long-arrow {
                        font-size: 40px;
                        color: #0376F9
                    }
                }
            }
            .security-img{
                img{
                    margin-top: -50px;
                }
            }
        }
    
}


@media (min-width: 0px) and (max-width: 576px) {
    .peach-canvas {
        padding: 80px 0;
        h2{
            font-size: 24px !important;
            margin-bottom: 0 !important;
        }
    }
    .peace-of-mind-banner{
        height: 50vh;
    }
    .safety-essentials{
        padding: 80px 0;
        h2{
            padding-left: 0;

            &.section-title::before{
                width: 0;
            }
        }
        .flip-box{
            height: 150px;
            .flip-box-front, .flip-box-back{
                height: 150px;
                h2{
                    font-size: 18px !important;
                }
            }
        }
    }

        .data-security {
            .left-content {
                padding-right: 100px;
                h2{
                    margin-bottom: 0;
                }
                .arrow-icon {
                    margin-top: 20px;
    
                    .icon-long-arrow {
                        font-size: 40px;
                        color: #0376F9
                    }
                }
            }
            .security-img{
                img{
                    margin-top: -50px;
                }
            }
        }
        .alerts{
            padding: 80px 0;
            h2{
                line-height: 25px !important;
                margin-bottom: 5px !important;
            }
        }

        .colored-flip-section .flip-box-front .plus-btn {
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #3479F2;
            text-align: center;
            right: 15px;
            bottom: 15px;
            .icon{
                font-size: 10px;
            }
        }

        .colored-flip-section .flip-box-back p a.minus-btn {
            display: inline-block;
            position: absolute;
            width: 20px !important;
            height: 20px !important;
            border-radius: 50%;
            background-color: #3479F2;
            text-align: center;
            right: 15px;
            bottom: 15px;
            .icon{
                font-size: 10px !important;
            }
        }
    
}