.tech {
    padding: 150px 0px;
    .tech-section {
        height: 280px;
        border-radius: 30px;
        color: $black;
        background-repeat: no-repeat;
        padding: 80px 150px;
        margin-bottom: 50px;
        transition: all 0.5s ease;
        h2.section-title {
            font-weight: 400;
            font-size: 48px;
            line-height: 59px;
            margin-bottom: 50px;

            span {
                font-weight: 700;
                @include block;
            }
        }
        h2{
            font-size: 36px;
            line-height: 48px;
        }
        &.care-alert {
            background-color: rgba(177, 177, 177, 0.25);
            background-image: url(../images/experience/tech/care-alert.svg);
            background-position: 95% 56px;
            background-size: 300px;

            &:hover{
                background-position: 93% 56px;
            }
        }

        &.gds{
            background-color: #CFF3CD;
            text-align: right;
            background-image: url(../images/experience/tech/gds-integrating.svg);
            background-position: 10% 56px;
            background-size: 200px;
            &:hover{
                background-position: 10% 36px;
            }
        }
        &.group-manifest{
            background-color: rgba(152, 177, 219, 0.50);
            background-image: url(../images/experience/tech/group-manifest.svg);
            background-position: 88% 60px;
            background-size: 300px;
            &:hover{
                background-position: 86% 60px;
            }
        }
        &.reporting{
            background-color: rgba(177, 177, 177, 0.25);
            text-align: right;
            background-image: url(../images/experience/tech/reporting.svg);
            background-position: 10% 91px;
            background-size: 200px;
            margin-bottom: 100px;
            &:hover{
                background-position: 10% 71px;
            }
        }

        
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .tech .tech-section{
        height: 150px;
        padding: 80px 30px;
        h2{
            font-size: 18px !important;
            line-height: 26px !important;
        }
        &.care-alert {
            background-color: rgba(177, 177, 177, .25);
            background-size: 130px;
    
            &:hover {
                background-position: 75% 56px;
            }
        }
        &.gds {
            text-align: right;
            background-position: 14% 36px;
            background-size: 100px;

            &:hover {
                background-position: 25% 40px;
            }
        }

        &.group-manifest {
            background-position: 88% 55px;
            background-size: 130px;

            &:hover {
                background-position: 75% 50px;
            }
        }

        &.reporting {
            background-position: 10% 60px;
            background-size: 100px;
            margin-bottom: 100px;

            &:hover {
                background-position: 25% 55px;
            }
        }
    }
}


@media (min-width: 0px) and (max-width: 576px) {
    .tech .tech-section {
        height: 100px;
        padding: 80px 30px;
        margin-bottom: 20px;
        border-radius: 20px;

        h2 {
            font-size: 16px !important;
            line-height: 20px !important;
            margin-bottom: 0 !important;
        }

        &.care-alert {
            background-color: rgba(177, 177, 177, .25);
            background-size: 90px;
            background-position: 75% 38px;

            &:hover {
                background-position: 75% 32px;
            }
        }

        &.gds {
            text-align: right;
            background-position: 14% 24px;
            background-size: 70px;

            &:hover {
                background-position: 25% 30px;
            }
        }

        &.group-manifest {
            background-position: 88% 35px;
            background-size: 90px;

            &:hover {
                background-position: 75% 30px;
            }
        }

        &.reporting {
            background-position: 10% 30px;
            background-size: 80px;
            margin-bottom: 90px;

            &:hover {
                background-position: 25% 25px;
            }
        }
    }
}