.advantages{
    padding: 100px 0px;
    .icon{
        margin-bottom: 20px;
        span{
            font-size: 80px;
            color:$blue;
        }
    }
    h2{
        color:$dark;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    p{
        color:$dark;
        font-size: 20px;
        font-weight: 300;
    }
}

@media (min-width: 0px) and (max-width: 1500px) {
    .advantages{
        padding: 50px 0px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .advantages{
        p{
            margin-bottom: 30px;
        }
    }
}